html,body,* {
  padding: 0px;
  margin: 0px;
}
.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background: #919090;
}